<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.dao.TeamDao">

    <select id="selectTeamByIdAlone" resultMap="teamMapAlone">
      SELECT id,name FROM team where id=#{id}
    </select>
</mapper>