
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- id不可重复，class只能是类 -->
	<bean id="studentService" init-method="init"
		destroy-method="destroy"
		class="com.jay.service.impl.StudentServiceImpl" />

	<!-- bean后处理器 -->
	<bean id="MyBeanPost" class="com.jay.proxy.MyBeanPost"></bean>
  
  <!--Setter依赖注入-->
	<bean id="StudentService"
		class="com.jay.service.impl.StudentServiceImpl">
    <!--通过set方法，把studentDao被赋值为StudentDaoImpl-->
		<property name="studentDao" ref="studentDaoId">
		</property>
	</bean>
  <bean id="studentDaoId" class="com.jay.dao.impl.StudentDaoImpl"></bean>

</beans>
